<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codersoft.cms.dao.mapper.admin.system.SysOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.codersoft.cms.dao.entity.SysOrganization">
        <id column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_by" jdbcType="VARCHAR" property="modifyBy"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    org_id, parent_id, org_code, org_name, status,description, is_delete, create_by, create_time,
    modify_by, modify_time
  </sql>
    <select id="selectByExample" parameterType="com.codersoft.cms.dao.entity.SysOrganizationExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_sys_organization
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_organization
        where org_id = #{orgId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_organization
    where org_id = #{orgId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.codersoft.cms.dao.entity.SysOrganizationExample">
        delete from t_sys_organization
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.codersoft.cms.dao.entity.SysOrganization">
    insert into t_sys_organization (org_id, parent_id, org_code, 
      org_name,status,description, is_delete,
      create_by, create_time, modify_by, 
      modify_time)
    values (#{orgId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.codersoft.cms.dao.entity.SysOrganization">
        insert into t_sys_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                org_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyBy != null">
                modify_by,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.codersoft.cms.dao.entity.SysOrganizationExample"
            resultType="java.lang.Long">
        select count(*) from t_sys_organization
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_sys_organization
        <set>
            <if test="record.orgId != null">
                org_id = #{record.orgId,jdbcType=BIGINT},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId,jdbcType=BIGINT},
            </if>
            <if test="record.orgCode != null">
                org_code = #{record.orgCode,jdbcType=VARCHAR},
            </if>
            <if test="record.orgName != null">
                org_name = #{record.orgName,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.description != null">
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=TINYINT},
            </if>
            <if test="record.createBy != null">
                create_by = #{record.createBy,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyBy != null">
                modify_by = #{record.modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_sys_organization
        set org_id = #{record.orgId,jdbcType=BIGINT},
        parent_id = #{record.parentId,jdbcType=BIGINT},
        org_code = #{record.orgCode,jdbcType=VARCHAR},
        org_name = #{record.orgName,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=TINYINT},
        description = #{record.description,jdbcType=VARCHAR},
        is_delete = #{record.isDelete,jdbcType=TINYINT},
        create_by = #{record.createBy,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        modify_by = #{record.modifyBy,jdbcType=VARCHAR},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.codersoft.cms.dao.entity.SysOrganization">
        update t_sys_organization
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyBy != null">
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where org_id = #{orgId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.codersoft.cms.dao.entity.SysOrganization">
    update t_sys_organization
    set parent_id = #{parentId,jdbcType=BIGINT},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where org_id = #{orgId,jdbcType=BIGINT}
  </update>

    <!-- 分页查询条件 -->
    <sql id="selectPageParmas">
        <where>
            <if test="searchTerm != null and searchTerm != '' and searchContent != null and  searchContent != '' and  searchTerm == 'orgName' ">
                org_name LIKE CONCAT('%', #{searchContent,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </sql>
    <!-- 查询资源总记录数 -->
    <select id="count" parameterType="com.codersoft.cms.dao.entity.SysOrganization" resultType="Long">
        SELECT count(*)
        FROM t_sys_organization
    </select>
    <!-- 获取对应条件的资源总记录数 -->
    <select id="selectCount" parameterType="com.codersoft.cms.dao.entity.SysOrganization" resultType="Long">
        SELECT count(*)
        FROM t_sys_organization
        <include refid="selectPageParmas"/>
    </select>
    <!-- 列表信息分页显示 -->
    <select id="selectPageList" resultType="com.codersoft.cms.dao.entity.SysOrganization"
            parameterType="com.codersoft.cms.dao.entity.SysOrganization">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_organization
        <include refid="selectPageParmas"/>
        ORDER BY org_id
        <!--<if test="limit != 0">-->
        LIMIT #{start},#{limit}
        <!--</if>-->
    </select>

    <!-- 查找对应组织名的组织信息 -->
    <select id="findOrganizationByOrgName" resultType="com.codersoft.cms.dao.entity.SysOrganization"
            parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from t_sys_organization
        where org_name = #{orgName}
    </select>

</mapper>